# ----------------------------

# Python

# ----------------------------

pycache/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

# ----------------------------

# Virtual Environments

# ----------------------------

.venv/
venv/
env/

# ----------------------------

# Environment Variables

# ----------------------------

.env
.env.*
!.env.example

# ----------------------------

# Poetry

# ----------------------------

poetry.lock

# ----------------------------

# Logs

# ----------------------------

*.log

# ----------------------------

# Testing / Coverage

# ----------------------------

.pytest_cache/
.coverage
htmlcov/

# ----------------------------

# Alembic

# ----------------------------

alembic/versions/*.pyc

# ----------------------------

# IDE / Editors

# ----------------------------

.vscode/
.idea/
*.swp
*.swo

# ----------------------------

# OS Files

# ----------------------------

.DS_Store
Thumbs.db

----------------------------

Docker

----------------------------

*.pid